h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 200;
}
p {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}

.teamCard img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  display: block;
}
.teamCard h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 10px;
}
.teamCard h6 {
  font-size: 12px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 5px;
}
.teamCard h5 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0px;
}

.teamCard p.flag {
  position: absolute;
  top: 0;
  right: 10px;
}
